@font-face {
  font-family: 'GWIBBLE';
  src: url('fonts/gwibble/GWIBBLE_.TTF');
}


html, body {
  margin:0px;
  width: 100%;
  height: 100%;
  overflow : hidden;
  background-color: black;
}


.top-centered-text {
  font-size: 40px;
  width:100%;
  position: absolute;
  z-index:2;  
  font-family: "GWIBBLE";
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin:3%;

}
